<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="anna-rules-heading" data-cy="RulesCreateUpdateHeading" annaTranslate="linterApp.rules.home.createOrEditLabel">
        Create or edit a Rules
      </h2>

      <div>
        <anna-alert-error></anna-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" annaTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" annaTranslate="linterApp.rules.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" annaTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" annaTranslate="linterApp.rules.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" annaTranslate="linterApp.rules.requirements" for="field_requirements">Requirements</label>
          <div>
            <div *ngIf="editForm.get('requirements')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('requirements')!.value, editForm.get('requirementsContentType')!.value)"
                annaTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('requirementsContentType')!.value }}, {{ byteSize(editForm.get('requirements')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ requirements: null }); editForm.patchValue({ requirementsContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_requirements"
              data-cy="requirements"
              (change)="setFileData($event, 'requirements', false)"
              annaTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="requirements"
            id="field_requirements"
            data-cy="requirements"
            formControlName="requirements"
          />
          <input
            type="hidden"
            class="form-control"
            name="requirementsContentType"
            id="field_requirementsContentType"
            formControlName="requirementsContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span annaTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span annaTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
