<form *ngIf="file" name="deleteForm" (ngSubmit)="confirmDelete(file.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="fileDeleteDialogHeading" annaTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <anna-alert-error></anna-alert-error>

    <p id="anna-delete-file-heading" annaTranslate="linterApp.file.delete.question" [translateValues]="{ id: file.id }">
      Are you sure you want to delete this File?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span annaTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="anna-confirm-delete-file" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span annaTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
