<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="anna-version-file-heading"
        data-cy="VersionFileCreateUpdateHeading"
        annaTranslate="linterApp.versionFile.home.createOrEditLabel"
      >
        Create or edit a Version File
      </h2>

      <div>
        <anna-alert-error></anna-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" annaTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" annaTranslate="linterApp.versionFile.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" annaTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" annaTranslate="linterApp.versionFile.sourceCode" for="field_sourceCode">Source Code</label>
          <div>
            <div *ngIf="editForm.get('sourceCode')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('sourceCode')!.value, editForm.get('sourceCodeContentType')!.value)"
                annaTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('sourceCodeContentType')!.value }}, {{ byteSize(editForm.get('sourceCode')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ sourceCode: null }); editForm.patchValue({ sourceCodeContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_sourceCode"
              data-cy="sourceCode"
              (change)="setFileData($event, 'sourceCode', false)"
              annaTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="sourceCode"
            id="field_sourceCode"
            data-cy="sourceCode"
            formControlName="sourceCode"
          />
          <input
            type="hidden"
            class="form-control"
            name="sourceCodeContentType"
            id="field_sourceCodeContentType"
            formControlName="sourceCodeContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" annaTranslate="linterApp.versionFile.creationDate" for="field_creationDate">Creation Date</label>
          <div class="d-flex">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="datetime-local"
              class="form-control"
              name="creationDate"
              formControlName="creationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" annaTranslate="linterApp.versionFile.file" for="field_file">File</label>
          <select class="form-control" id="field_file" data-cy="file" name="file" formControlName="file">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="fileOption.id === editForm.get('file')!.value?.id ? editForm.get('file')!.value : fileOption"
              *ngFor="let fileOption of filesSharedCollection; trackBy: trackFileById"
            >
              {{ fileOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span annaTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span annaTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
