<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rules">
      <h2 data-cy="rulesDetailsHeading"><span annaTranslate="linterApp.rules.detail.title">Rules</span></h2>

      <hr />

      <anna-alert-error></anna-alert-error>

      <anna-alert></anna-alert>

      <dl class="row-md jh-entity-details">
        <dt><span annaTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rules.id }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.rules.name">Name</span></dt>
        <dd>
          <span>{{ rules.name }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.rules.code">Code</span></dt>
        <dd>
          <span>{{ rules.code }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.rules.requirements">Requirements</span></dt>
        <dd>
          <div *ngIf="rules.requirements">
            <a (click)="openFile(rules.requirements, rules.requirementsContentType)" annaTranslate="entity.action.open">open</a>
            {{ rules.requirementsContentType }}, {{ byteSize(rules.requirements) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span annaTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rules', rules.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span annaTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
