<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bag">
      <h2 data-cy="bagDetailsHeading"><span annaTranslate="linterApp.bag.detail.title">Bag</span></h2>

      <hr />

      <anna-alert-error></anna-alert-error>

      <anna-alert></anna-alert>

      <dl class="row-md jh-entity-details">
        <dt><span annaTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bag.id }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.bag.bagName">Bag Name</span></dt>
        <dd>
          <span>{{ bag.bagName }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.bag.description">Description</span></dt>
        <dd>
          <span>{{ bag.description }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.bag.status">Status</span></dt>
        <dd>
          <span annaTranslate="{{ 'linterApp.Status.' + bag.status }}">{{ bag.status }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.bag.user">User</span></dt>
        <dd>
          <span>{{ bag.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span annaTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bag', bag.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span annaTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
