<div>
  <h2 id="page-heading" data-cy="TaskHeading">
    <span annaTranslate="linterApp.task.home.title">Tasks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span annaTranslate="linterApp.task.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task"
        [routerLink]="['/task/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span annaTranslate="linterApp.task.home.createLabel"> Create a new Task </span>
      </button>
    </div>
  </h2>

  <anna-alert-error></anna-alert-error>

  <anna-alert></anna-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tasks?.length === 0">
    <span annaTranslate="linterApp.task.home.notFound">No tasks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tasks && tasks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span annaTranslate="global.field.id">ID</span></th>
          <th scope="col"><span annaTranslate="linterApp.task.taskName">Task Name</span></th>
          <th scope="col"><span annaTranslate="linterApp.task.description">Description</span></th>
          <th scope="col"><span annaTranslate="linterApp.task.deadline">Deadline</span></th>
          <th scope="col"><span annaTranslate="linterApp.task.bag">Bag</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/task', task.id, 'view']">{{ task.id }}</a>
          </td>
          <td>{{ task.taskName }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.deadline | formatMediumDate }}</td>
          <td>
            <div *ngIf="task.bag">
              <a [routerLink]="['/bag', task.bag?.id, 'view']">{{ task.bag?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/task', task.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" annaTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" annaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(task)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" annaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
