<div>
  <h2 id="page-heading" data-cy="VersionFileHeading">
    <span annaTranslate="linterApp.versionFile.home.title">Version Files</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span annaTranslate="linterApp.versionFile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-version-file"
        [routerLink]="['/version-file/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span annaTranslate="linterApp.versionFile.home.createLabel"> Create a new Version File </span>
      </button>
    </div>
  </h2>

  <anna-alert-error></anna-alert-error>

  <anna-alert></anna-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="versionFiles?.length === 0">
    <span annaTranslate="linterApp.versionFile.home.notFound">No versionFiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="versionFiles && versionFiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span annaTranslate="global.field.id">ID</span></th>
          <th scope="col"><span annaTranslate="linterApp.versionFile.name">Name</span></th>
          <th scope="col"><span annaTranslate="linterApp.versionFile.sourceCode">Source Code</span></th>
          <th scope="col"><span annaTranslate="linterApp.versionFile.creationDate">Creation Date</span></th>
          <th scope="col"><span annaTranslate="linterApp.versionFile.file">File</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let versionFile of versionFiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/version-file', versionFile.id, 'view']">{{ versionFile.id }}</a>
          </td>
          <td>{{ versionFile.name }}</td>
          <td>
            <a
              *ngIf="versionFile.sourceCode"
              (click)="openFile(versionFile.sourceCode, versionFile.sourceCodeContentType)"
              annaTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="versionFile.sourceCode">{{ versionFile.sourceCodeContentType }}, {{ byteSize(versionFile.sourceCode) }}</span>
          </td>
          <td>{{ versionFile.creationDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="versionFile.file">
              <a [routerLink]="['/file', versionFile.file?.id, 'view']">{{ versionFile.file?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/version-file', versionFile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" annaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/version-file', versionFile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" annaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(versionFile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" annaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
