<div>
  <h2 id="page-heading" data-cy="SupportHeading">
    <span annaTranslate="linterApp.support.home.title">Supports</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span annaTranslate="linterApp.support.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-support"
        [routerLink]="['/support/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span annaTranslate="linterApp.support.home.createLabel"> Create a new Support </span>
      </button>
    </div>
  </h2>

  <anna-alert-error></anna-alert-error>

  <anna-alert></anna-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="supports?.length === 0">
    <span annaTranslate="linterApp.support.home.notFound">No supports found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="supports && supports.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span annaTranslate="global.field.id">ID</span></th>
          <th scope="col"><span annaTranslate="linterApp.support.topic">Topic</span></th>
          <th scope="col"><span annaTranslate="linterApp.support.email">Email</span></th>
          <th scope="col"><span annaTranslate="linterApp.support.phone">Phone</span></th>
          <th scope="col"><span annaTranslate="linterApp.support.description">Description</span></th>
          <th scope="col"><span annaTranslate="linterApp.support.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let support of supports; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/support', support.id, 'view']">{{ support.id }}</a>
          </td>
          <td>{{ support.topic }}</td>
          <td>{{ support.email }}</td>
          <td>{{ support.phone }}</td>
          <td>{{ support.description }}</td>
          <td>
            {{ support.user?.email }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/support', support.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" annaTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/support', support.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" annaTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(support)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" annaTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
