<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="post">
      <h2 data-cy="postDetailsHeading"><span annaTranslate="linterApp.post.detail.title">Post</span></h2>

      <hr />

      <anna-alert-error></anna-alert-error>

      <anna-alert></anna-alert>

      <dl class="row-md jh-entity-details">
        <dt><span annaTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ post.id }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.post.title">Title</span></dt>
        <dd>
          <span>{{ post.title }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.post.content">Content</span></dt>
        <dd>
          <span>{{ post.content }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.post.picture">Picture</span></dt>
        <dd>
          <div *ngIf="post.picture">
            <a (click)="openFile(post.picture, post.pictureContentType)" annaTranslate="entity.action.open">open</a>
            {{ post.pictureContentType }}, {{ byteSize(post.picture) }}
          </div>
        </dd>
        <dt><span annaTranslate="linterApp.post.date">Date</span></dt>
        <dd>
          <span>{{ post.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.post.user">User</span></dt>
        <dd>
          <span>{{ post.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span annaTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/post', post.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span annaTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
