<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="versionFile">
      <h2 data-cy="versionFileDetailsHeading"><span annaTranslate="linterApp.versionFile.detail.title">Version File</span></h2>

      <hr />

      <anna-alert-error></anna-alert-error>

      <anna-alert></anna-alert>

      <dl class="row-md jh-entity-details">
        <dt><span annaTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ versionFile.id }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.versionFile.name">Name</span></dt>
        <dd>
          <span>{{ versionFile.name }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.versionFile.sourceCode">Source Code</span></dt>
        <dd>
          <div *ngIf="versionFile.sourceCode">
            <a (click)="openFile(versionFile.sourceCode, versionFile.sourceCodeContentType)" annaTranslate="entity.action.open">open</a>
            {{ versionFile.sourceCodeContentType }}, {{ byteSize(versionFile.sourceCode) }}
          </div>
        </dd>
        <dt><span annaTranslate="linterApp.versionFile.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ versionFile.creationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span annaTranslate="linterApp.versionFile.file">File</span></dt>
        <dd>
          <div *ngIf="versionFile.file">
            <a [routerLink]="['/file', versionFile.file?.id, 'view']">{{ versionFile.file?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span annaTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/version-file', versionFile.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span annaTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
